@font-face {
  font-family: "OpenSauceOne-Regular";
  src: url("fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne-Bold";
  src: url("fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne-Light";
  src: url("fonts/OpenSauceOne-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.homefade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.homefade-in:target {
  opacity: 1;
  transform: translateY(0);
}

.servicesfade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.servicesfade-in:target {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: "OpenSauceOne-Regular", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  padding: 40px;
}

.title h1 {
  font-family: "OpenSauceOne-Bold", Arial, sans-serif;
  font-size: 124px;
  font-weight: bold;
  color: #69a301;
  margin-bottom: -40px;
  line-height: 1.2;
  margin-left: -60px;
}

.title h2 {
  font-family: "OpenSauceOne-Bold", Arial, sans-serif;
  font-size: 124px;
  font-weight: bold;
  color: #133903;
  margin: 0;
  line-height: 1.2;
}

.description {
  font-family: "OpenSauceOne-Light", sans-serif;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: left;
  margin-right: -30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 15px;
}

.company-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-name h1 {
  font-family: "OpenSauceOne-Bold", Arial, sans-serif;
  margin: 0;
  font-size: 26.8px;
  color: #133903;
}

.company-name h2 {
  font-family: "OpenSauceOne-Regular", Arial, sans-serif;
  font-weight: light;
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #133903;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  position: relative;
  padding: 20px;
}

.leaves {
  position: relative;
}

.leaf {
  position: absolute;
  width: 600px;
  top: 100px;
  left: 200px;
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section {
  height: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo-link {
  display: flex;
  justify-content: center;
  transition: transform 0.3s;
  opacity: 0.8;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}

.logo-link img {
  margin-top: 100px;
  width: 50px;
}

.logo-link:hover {
  transform: scale(1.1);
  opacity: 1;
}

.services-content .logo-link {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  margin-top: 20px;
  transition: transform 0.3s;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}

.services-content .logo-link img {
  width: 50px; 
  transition: transform 0.3s; 
  display: block;
}

.services-content .logo-link:hover img {
  transform: rotate(180deg);
  opacity: 1; 
}
